<h1>Bag & Board</h1>
<br>
<h4>Edit Comic</h4>
<br>
<form action="/comics/<%= @comic.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="title">Title:</label>
    <input type="text" name="comic[title]" value="<%= @comic.title %>"><br><br>
    <label for="issue">Issue Number:</label>
    <input type="text" name="comic[issue]" value="<%= @comic.issue %>"><br><br>
    <label for="arc">Story Arc:</label>
    <input type="text" name="comic[arc]" value="<%= @comic.arc %>"><br><br>
    <label for="writer">Writer(s):</label>
    <input type="text" name="comic[writer]" value="<%= @comic.writer %>"><br><br>
    <label for="artist">Artist(s):</label>
    <input type="text" name="comic[artist]" value="<%= @comic.title %>"><br><br>
    <input type="submit" name="submit" value="Finalize Edits">
</form>