<h1>Bag & Board</h1>
<br>
<h2>Welcome <%= @user.username %>, to the Universal Comics Feed!</h2>
<p>Check out what everyone else is reading - or - organize your own library</p>
<a href="/users/<%= @user.id %>"><h4>Your Personal Comic Library</h4></a>
<br>
<h3>The Universal Feed</h3>
<br>
<% @comics.each do |comic| %>
    <ul><a href="/comics/<%= comic.id %>"><b><%= comic.title %> #<%= comic.issue %></b></a> - Rating: <b><%= comic.rating %></b> - Added by: <%= comic.user.username %>
        <br>
        <h6>---Written by: <%= comic.writer %>, Art by: <%= comic.artist %></h6>
        <% if current_user.id == comic.user_id %>
            <a href="/comics/<%= comic.id %>/edit"><h5>Edit Comic</h5></a>

            <form action="/comics/<%= comic.id %>" method="post">
                <input id="hidden" type="hidden" name="_method" value="delete">
                <input type="submit" id="delete" value="Delete">
            </form>
        <% end %>
    </ul>
    <br>
<% end %>
<br><br>
<a href="/logout"><h3>Logout</h3></a>
<br>