<h1>Bag & Board</h1>
<br>
<h2><%= @comic.title %> #<%= @comic.issue %></h2><br>
<h4><%= @comic.arc %></h4><br>
<h4><%= @comic.writer %></h4><br>
<h4><%= @comic.artist %></h4><br>
<a href="/users/#{@user.id}">Return Home</a>