<h1>Bag & Board</h1>
<br>
<h2><%= @comic.title %> #<%= @comic.issue %></h2>
<h5>Story Arc:<%= @comic.arc %></h5><br>
<h5>Writer(s):<%= @comic.writer %></h5><br>
<h5>Artist(s):<%= @comic.artist %></h5><br><br>
<a href="/users/#{current_user.id}">Return Home</a>