<h1>Bag & Board</h1>
<br>
<h2><%= @comic.title %> #<%= @comic.issue %></h2>
<h5>Story Arc: <%= @comic.arc %></h5><br>
<h5>Writer(s): <%= @comic.writer %></h5><br>
<h5>Artist(s): <%= @comic.artist %></h5><br>
<h4>Rating: <%= @comic.rating %></h4><br>

<a href="/comics/<%= @comic.id %>/edit"><h5>Edit Comic</h5></a>

<form action="/comics/<%= @comic.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" id="delete" value="Delete">
</form>
<br>
<a href="/users/<%= @comic.user_id %>">Return Home</a>